header {
    background-color: #FFFFFF;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}
.navigation-list a {
    color: #2E2F42; /* Основний колір тексту */
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;
}
.navigation-list a:hover,
.navigation-list a:focus { /* Колір фону при наведенні та фокусі */
    color: #404BBF;
}
.page-contacts a {
    color:#434455; /* Основний колір тексту */
    letter-spacing: 0.02em;
    text-align: left;
    font-style: normal;
}
.page-contacts .link:hover,
.page-contacts .link:focus { /* Колір фону при наведенні та фокусі */
    color: #404BBF;
}
.solutions {
    background-color: #2E2F42;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.order-button {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}
.order-button:hover, /* Колір фону при наведенні та фокусі */
.order-button:focus {
    background-color: #404BBF;
    }
.logo {
    color: #4D5AE5;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
}
.logo-studio {
    color:#2E2F42;
    margin-left: -5px;
    }


.benefits h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}
.benefits p {
    color: #434455;
    letter-spacing: 0.02em;
    text-align: left;
}
.list-team {
    background-color: #F4F4FD;

}
.list-team h2 {
    color:#2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.list-team h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.list-team p {
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 16px,
}
.list-portfolio h2 {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.list-portfolio h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.list-portfolio p {
    color:#434455;
    letter-spacing: 0.02em;
    text-align: left;
}
.page-bottom {
    background-color:#2E2F42;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    text-align: left;
}
.logo-studio-white {
    color: #F4F4FD;
}